html {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 100%;
}

h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
    color: white;
}

body {
    background-color: rgb(255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    /* padding: 10vh;
    padding: 10vw; */
    justify-content: space-between;
    align-content: space-around;
    padding: 5rem;
}


.container {
    background-color: rgba(236, 74, 74, 0.719);
    height: 100%;
    border-radius: 2rem;
    width: max-content
}

.footerSection {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

button {
    border-radius: 2rem;
    padding: 0.75rem;
    margin: 0.1rem;
    cursor: pointer;

}

button:hover {
    animation-name: buttonColorChange;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
}

@keyframes buttonColorChange {
    to {
        background-color: rgb(32, 217, 32);
    }
}

#pBtn,
#nBtn {
    background-color: orange;
}

textarea {
    resize: none;
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.4;
    overflow: visible;
    background-color: black;
}

textarea::placeholder {
    font-size: larger;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}